body{
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}
h2{
	padding: 12px;
	text-align: center;
	border: 5px ridge silver;
	background-color: #f2f2f2;
	border-radius: 10px;
	margin-top: 35px;
}
label{
	line-height: 35px;
}
button:hover{
	background-color: #e6e6e6;
	color: #595959;
}
.dispTableCell{
	display:table-cell;
	text-align: left;
}
.dispTableRow{
	display:table-row;
}
.dispTable{
	display:table;
	margin-left: auto;
	margin-right: auto;
}
.dispTableRow .dispTableCell:last-child{
	min-width: 175px;
}
button{
	width: 150px;
}
.main{
	text-align: center;
	padding: 10px;
}
#result{
	display:none;
	font-size: 25px;
	font-weight: bold;
	font-family: sans-serif;
	padding: 10px;
	background-image: url("./img/password.jpg");
	border: 1px solid black;
	border-radius: 10px;
	overflow: auto;
}